@if (TotalPages > 0)
{
    <div class="pager mt-3 w-full flex text-right text-sm">
        <div class="float-right w-full">
            <button type="button" class="w-10 py-1 mx-2 text-white focus:outline-none @((PageIndex == 1) ? "disabled bg-blue-200" : "pager-btn bg-blue-500")" @onclick="@(() => OnClick.InvokeAsync(1))">
                <i class="oi oi-media-skip-backward" aria-hidden="true"></i>
            </button>
            <button type="button" class="w-10 mx-1 py-1 text-white focus:outline-none @(HasPreviousPage ? "pager-btn bg-blue-500" : "disabled bg-blue-200")" @onclick="@(() => OnClick.InvokeAsync(PageIndex - 1))">
                <i class="oi oi-caret-left" aria-hidden="true"></i>
            </button>
            <span class="px-1">@PageIndex</span>
            <button type="button" class="w-10 mx-1 py-1 text-white focus:outline-none @(HasNextPage ? "pager-btn bg-blue-500" : "disabled bg-blue-200")" @onclick="@(() => OnClick.InvokeAsync(PageIndex + 1))">
                <i class="oi oi-caret-right" aria-hidden="true"></i>
            </button>
            <button type="button" class="w-10 mx-1 py-1 text-white focus:outline-none @((PageIndex == TotalPages) ? "disabled bg-blue-200" : "pager-btn bg-blue-500")" @onclick="@(() => OnClick.InvokeAsync(TotalPages))">
                <i class="oi oi-media-skip-forward" aria-hidden="true"></i>
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public int PageIndex { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public bool HasPreviousPage { get; set; }

    [Parameter]
    public bool HasNextPage { get; set; }

    [Parameter]
    public EventCallback<int> OnClick { get; set; }
}